body {
  color: #333 !important;
  font-family: 'Source Sans Pro', sans-serif; }

.bg-green {
  background-color: #00a65a;
  color: #323232; }

.bg-lime {
  background-color: #01ff70 !important;
  color: #323232; }

.bg-orange {
  background-color: #ff851b !important;
  color: #323232; }

.bg-maroon {
  background-color: #d81b60 !important;
  color: #323232; }

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }

.small-box > .inner {
  padding: 10px;
  height: 115px;
  text-align: center; }

.small-box h5 {
  font-weight: bold;
  margin: 10px 0 10px 0;
  padding: 0; }

.icon-modal {
  font-size: 5rem;
  color: #ff851b !important; }

.box-galery {
  border-top: solid 3px #3c8dbc; }

.contentimg {
  display: flex;
  flex-direction: column; }

.btn-selva {
  background-color: #016609 !important;
  border-color: #016609 !important; }

.btn-selva:hover {
  color: #B21F55 !important;
  background-color: #22932b !important;
  border-color: #22932b !important;
  text-decoration: none; }

.btn-selva:focus {
  box-shadow: 0 0 0 2px rgba(61, 153, 68, 0.5) !important;
  color: #B21F55 !important;
  text-decoration: none; }

.border-table {
  border-style: solid;
  border-color: #D9D5D5;
  border-width: 1px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
  color: #373737;
  font-family: 'opensansb',sans-serif;
  background-color: #fbfbfb; }

.table th, .table td {
  border-top: 1px solid #E0DDDD; }

.table thead {
  background-color: #dfdfdf; }

.table tbody {
  background-color: #FFFFFF; }

.titletabla {
  color: #b2b2b2 !important; }

.border-table a {
  color: #B21F55; }

.small-box a {
  color: #ffffff !important; }

/*# sourceMappingURL=admin.css.map */
