.app-header__logo {
  background-color: #588738 !important; }

.app-header {
  background-color: #357908 !important; }

.app-sidebar {
  background-color: #1a2226 !important;
  color: #fff !important; }

.app-sidebar__user {
  background-color: #1a2226 !important; }

/*# sourceMappingURL=skin.css.map */
