.app-header__logo{
	background-color: #000000 !important;
}
.app-header{
	background-color: #1a1b1a !important;
}
.app-sidebar{
	background-color: #1a2226 !important;
	color: #fff !important;
}
.app-sidebar__user{
	background-color: #f8f9fa !important;
}